
// $border-color: #FF4040;
// $checkbox-size: 1rem;

// $white:  mix(#15171E, white, 20%);

.checkbox {
  
}

label {
  font-family: Helvetica; 
  letter-spacing: 1px;
  // font-variant: small-caps;
  // text-transform: uppercase;
}

// checkbox styles start

@keyframes pull{
    0% { height: 0; }
    100% { height: 1.2rem;  }
}

@keyframes pop {
  0% { opacity:0; }
  75% {opacity:1; }
  100% { transform: scale(1.2); }
}

.checkbox-flip, .checkbox-pop, .checkbox-pull, .checkbox-spin {
    display:none;
}

.checkbox-flip + label span, 
.checkbox-pop + label span, 
.checkbox-pull + label span,
.checkbox-spin + label span{
    display:inline-block;
    width:25px;
    height:19px;
    margin: 0 5px -4px 0; /*layout relationship between check and label*/
    &:before,
    &:after {
      // @include transition(all .3s ease-in-out);
      content: "";
      position: absolute;
      z-index: 1;
      width:1rem;
      height:1rem;
      background: transparent;
      border: 2px solid #FF4040; 
    }
     &:after {
      z-index: 0;
      border: none;
    }
}

.checkbox-flip:checked + label span {
     &:before {
      // @include transform(rotateY(180deg));
      background: #FF4040;
    }
}

.checkbox-pop:checked + label span {
  &:before {
      animation: pop .3s ease;
      z-index: 100;
      background: #FF4040;
     } 
}

.checkbox-pull:checked + label span {
     &:after {
      width: 1.2rem;
      height: 1.2rem;
      background: #FF4040;
      animation: pull .4s linear; 
     }
}

.checkbox-spin:checked + label span {
     &:before {
      // @include transform(rotateZ(180deg));
      background: #FF4040;
    }
}